@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8fc;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}@keyframes float { 0% { transform: translateY(0px); } 50% { transform: translateY(-20px); } 100% { transform: translateY(0px); } } .animate-float { animation: float 6s ease-in-out infinite; }
