@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f8f8fc;
    --foreground: #0f172a;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  min-height: 100vh;
}